<h2>Contact</h2>
<p>Email: <a href="mailto:hairymnstr@gmail.com">hairymnstr@gmail.com</a></p>
<p>Twitter: <a href="https://twitter.com/hairymnstr">@hairymnstr</a></p>

<h2>Links</h2>
<ul class="bare">
    <li><a href="http://www.theamphour.com/">The Amp Hour</a> Electronics podcast.</li>
    <li><a href="http://embedded.fm/">Making Embeded Systems</a> Podcast from the author of the O'Reilly book of the same name.</li>
    <li><a href="http://www.eevblog.com/">EEVBlog</a> An Australian electronic engineer with opinions.</li>
</ul>
<ul class="bare">
    <li><a href="http://bristol.hackspace.org.uk/">Bristol Hackspace</a> My local hackspace, where's yours?</li>
    <li><a href="http://www.dorkbot.org/dorkbotbristol/">Dorkbot Bristol</a> People doing strange things with electricity.</li>
    <li><a href="http://crunchbanglinux.org/">Crunchbang Linux</a> A cruft-free Debian based Linux distro that's awesome.</li>
</ul>
