<h2>Contact</h2>
<p>Email: <a href="mailto:nathan@nathandumont.com">nathan@nathandumont.com</a></p>
<p>Twitter: <a href="https://twitter.com/hairymnstr">@hairymnstr</a></p>

<h2>Affiliate Programs</h2>
<p>Buy stuff from Amazon or Farnell and I get commission to pay my hosting bills!</p>
<div style="text-align:center;width=100%">
<!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK --><p><a href="http://being.successfultogether.co.uk/click.asp?ref=584122&amp;site=8030&amp;type=b14&amp;bnb=14" target="_blank"><br><img src="http://become.successfultogether.co.uk/view.asp?ref=584122&amp;site=8030&amp;b=14" title="Farnell element14 (UK)" alt="Farnell element14 (UK)" border="0" width="120" height="40"></a></p>
<!-- END PARTNER PROGRAM --><script charset="utf-8" type="text/javascript" src="http://ws.amazon.co.uk/widgets/q?rt=tf_sw&amp;ServiceVersion=20070822&amp;MarketPlace=GB&amp;ID=V20070822/GB/nathandumontc-21/8002/fd20ae7f-8a9f-4600-9843-3bd1678c537e"></script><p> </p><noscript><a href="http://ws.amazon.co.uk/widgets/q?rt=tf_sw&amp;ServiceVersion=20070822&amp;MarketPlace=GB&amp;ID=V20070822%2FGB%2Fnathandumontc-21%2F8002%2Ffd20ae7f-8a9f-4600-9843-3bd1678c537e&amp;Operation=NoScript">Amazon.co.uk Widgets</a></noscript>
</div>

<h2>Links</h2>
<ul class="bare">
    <li><a href="http://www.theamphour.com/">The Amp Hour</a> Electronics podcast.</li>
    <li><a href="http://embedded.fm/">Making Embeded Systems</a> Podcast from the author of the O'Reilly book of the same name.</li>
</ul>
<ul class="bare">
    <li><a href="http://bristol.hackspace.org.uk/">Bristol Hackspace</a> My local hackspace, where's yours?</li>
    <li><a href="http://www.dorkbot.org/dorkbotbristol/">Dorkbot Bristol</a> People doing strange things with electricity.</li>
    <li><a href="http://www.cheltenhamhackspace.org/">Cheltenham Hackspace</a> Another local hackspace, just starting.</li>
</ul>
