{% extends base_template %}
{% block title %}{{ site.domain }} : {{ gallery.title }}{% endblock %}
{% block area %}{{ gallery.title }}{% endblock %}
{% block content %}
    <div class='gallery'>
    {% for figure in gallery.figure_set.all %}
        <div class="figure">
            <h4>{{figure.title}}</h4>
            <div class="figure-image">
                <a href="{{figure.img.url}}">
                    <span class="helper"></span><img src="{{figure.thumbnail.url}}" title="{{figure.title}}" alt="{{figure.cover_image.caption}}"/>
                </a>
            </div>
            <p>{{figure.caption|safe}}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
