{% extends base_template %}
{% block title %}{{site.domain}} : {{ post.title }}{% endblock %}
{% block area %}{{ post.section.title }}{% endblock %}
{% block content %}
    <header>
      <h1>{{post.title}}</h1>
      <p class='pubdate'>Last updated: {{ post.last_modified }}</p>
    </header>
    {{ post.rendered|safe }}
    {% if post.get_attachments %}
    <table>
      <tr><th>Attachment</th><th>Last Update</th><th>Size</th></tr>
    {% for att in post.get_attachments %}
      <tr><td><a href='{{att.file.url}}'>{{att.description}}</a></td><td>{{att.updated}}</td><td>{{att.size|filesizeformat}}</td></tr>
    {% endfor %}
    </table>
    {% endif %}
    <dl class='tags'>
        <dt>Section:</dt>
        <dd><a href='/section/{{post.section.url}}'>{{post.section.title}}</a></dd>
    </dl>
    <dl class='tags'>
        <dt>Tags:</dt>
        {% for tag in post.get_tags %}
        <dd><a href='/tag/{{tag.slug}}'>{{tag.text}}</a>{% if not forloop.last %},{% endif %}</dd>
        {% empty %}
        <dd>&nbsp;</dd>
        {% endfor %}
    </dl>
    <h3>Comments</h3>
    {% for comment, closings in comments %}
    <div class='comment'>
        <h4>{{ comment.title }}</h4>
        <p class='pubdate'>{{comment.posted|date:"d M Y - H:i"}} {{comment.posted_by}}</p>
        {{comment.content_cleaned|safe}}
    {% for c in closings %}
    </div>
    {% endfor %}
    {% endfor %}
    <p>Posting comments is not currently possible.  If you want to discuss this article
    you can reach me on <a href='https://twitter.com/hairymnstr'>twitter</a> or via
    <a href='mailto:nathan@nathandumont.com'>email</a>.</p>
    <hr class='clear'/>
{% endblock %}
