{% extends 'admin/base_site.html' %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href='{% url 'admin:blog_post_change' post.id %}'>{{ original|truncatewords:"18" }}</a>
&rsaquo; Validation
</div>
{% endblock %}
{% endif %}

{% block content %}
    <pre>
    {{errors}}
    </pre>
{% endblock %}
