body {
  background: #101010;
  color: #e0e0e0;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.nd-page {
  background: #000000;
  max-width: 950px;
  margin: 0px auto;
  overflow: auto;
}

#bar {
  border-width: 2px 0px;
  border-color: #6666ff;
  border-style: solid;
  background: #0000c7;
}

#bar #link {
  max-width: 950px;
  margin: 0px auto;
}

#bar #link a {
  color: #ffffff;
  text-decoration: none;
}

#page_header {  
  display: block;
  max-width: 950px;
  margin: 0px auto;
  font-weight: bold;
  font-size: 48px;
}

.nd-text-light-blue{color:#6666ff !important} .nd-light-blue{color:#000 !important;background-color:#6666ff !important}
.nd-text-orange{color:#ffa000 !important} .nd-orange{color:#000 !important;background:#ffa000 !important}
.nd-text-light-grey{color:#303030 !important} .nd-light-grey{color:#fff !important;background-color:#303030 !important}
.nd-text-dark-grey{color: #101010 !important} .nd-dark-grey{color:#e0e0e0 !important;background-color:#101010 !important}

p {
  line-height: 170%;
}

.post-summary {
    overflow: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #6666ff;
}

.post-summary h2 {
    margin: 5px 0px;
}

.tags {
    margin: 2px 0px;
    clear: both;
}

.tags dt {
    font-weight: bold;
    display: inline;
    margin: 0px;
    padding: 0px;
    color: #ffa000;
}

.tags dd {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.comment {
    padding-left: 20px;
}

hr {
  border-style: solid;
  border-color: #6666ff;
  border-width: 1px 0px 0px 0px;
}

hr.clear {
  visibility: hidden;
  clear: both;
}

hr.index-divider {
    clear: both;
}

iframe {
  border: 0px;
}

.nd-nav {  
  max-width: 950px;
  margin: 0px auto;
  text-align: center;
}

a {
    text-decoration: none;
}

nav a:link, nav a:visited {
  color: #6666ff;
  text-decoration: none;
}

a:link {
  color: #6666ff;
}

a:visited {
  color: #4444bb;
}

a:hover, nav a:hover {
  color: #ffffff;
}

a:active, a.active {
  color: #ffffff;
}

article header h1 {
  margin: 5px 0px;
}

p.pubdate {
  font-size: 75%;
  margin: 2px 0px;
}

p.author {
  font-size: 75%;
  margin: 2px 0px;
}

/* make images responsive (i.e. they shrink) */
img {
  max-width: 100%;
  max-height: 100%;
}

img.img_right {
  float: right;
  border: none;
}

blockquote {
  border-left: 3px solid #ffa000;
  background: #333333;
  padding-left: 5px;
}

blockquote cite {
  white-space: nowrap;
}
/* Figure styling */


.figure {
  float: left;
  clear: left;
  width: 150px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #303030;
  background: #101010;
  font: 75%/110% sans-serif;
  text-align: center;
}

.figure-noborder {
  float: left;
  clear: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 75%;
  text-align: center;
}
    
.figure h4 {
    margin: 0px 0px 5px 0px;
}

.figure p {
    margin: 5px 0px 0px 0px;
    text-align: left;
}

.figure-image {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 1em 0;
  white-space: nowrap;  
}

.figure-image a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;  
}

.figure img {
  vertical-align: middle;
}

.figure_nothumb {
  float: left;
  clear: left;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #303030;
  background: #101010;
  font-size: 75%;
  text-align: center;
}

.figure_nothumb {
  text-align: left;
}

.gallery {
  width: 100%;
  overflow: auto;
  text-align: center;
}

.gallery-frame {
  border: 1px solid #303030;
}

.gallery-responsive {
	float: left;
	width: 33.333%;
	padding: 6px;
}

.gallery-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 800px) {
	.gallery-clearfix3:after {
		content: "";
		display: table;
		clear: both;
	}
}

@media only screen and (max-width: 800px) {
	.gallery-responsive {
		width: 49.999%;
		padding: 6px;
	}

	.gallery-clearfix2:after {
		content: "";
		display: table;
		clear: both;
	}
}

@media only screen and (max-width: 500px) {
	.gallery-responsive {
		width: 100%;
	}
}

.gallery p {
  text-align: left;
}

.gallery .figure {
  clear: none;
  height: 230px;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: middle;
}

.gallery .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.gallery .end {
  clear: both;
  visibility: hidden;
}

.gallery-image {
  position: relative;
  width:100%;
  padding-bottom: 100%;
  float: left;
}

.gallery-image-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.gallery-image-inner img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* end of figure styling */

.code {
  color: black;
  background: #eeeeee;
  padding: 5px;
  overflow: hidden;
}

pre {
  margin: 0px;
}

footer {
  clear: left;
  padding: 5px;
  color: #ffa000;
  font-size: 10px;
}

p.copyright {
  margin: 2px 0px;
  text-align: center;
}

.nd-pagination {
  width: 100%;
  text-align: center;
}

ul.bare {
    margin: 0px;
    padding: 0px;
}

ul.bare li {
    list-style-image: none;
    list-style-type: none;
}

ul.tags {
    margin: 0px;
    padding: 0px;
}

ul.tags li {
    list-style-image: none;
    list-style-type: none;
    display: inline;
}

.related_posts {
    background: #202020;
    overflow: auto;
    padding: 10px;
}

.related_posts .right_column {
    width: 50%;
    float: left;
}

.related_posts .left_column {
    width: 50%;
    float: left;
}

.related_posts h3 {
    margin: 0px;
}

h1 h2 h3 h4 h5 h6 {
    line-height: 170%;
}

