{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% block extrastyle %}{{ block.super }}
    <link rel='stylesheet' href='{{STATIC_URL}}style.css'/>
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ post.title }}</a> &rsaquo;
     {% trans 'Preview Post' %}</div>
{% endif %}{% endblock %}
{% block content %}
<h3>Summary:</h3>
<article>
    <div class='post-summary'>
        <h2><a href='/blog/{{ post.slug }}'>{{post.title}}</a></h2>
        <p class='pubdate'>Last updated: {{post.last_modified|date:"d M Y - H:i"}}</p>
        {{ post.summary|safe }}
        <dl class='tags'>
            <dt>Section:</dt>
            <dd><a href='/section/{{ post.section.url }}'>{{ post.section.title }}</a></dd>
        </dl>
        <dl class='tags'>
            <dt>Tags:</dt>
            {% for tag in post.get_tags %}
                <dd><a href='/tag/{{tag.slug}}'>{{ tag.text }}</a>{% if not forloop.last %},{% endif %}</dd>
            {% empty %}
                <dd>&nbsp;</dd>
            {% endfor %}
        </dl>
    </div>
</article>
<hr class='clear'/>
<h3>Body:</h3>
<article>
    <header>
      <h1>{{post.title}}</h1>
      <p class='pubdate'>Last updated: {{ post.last_modified }}</p>
    </header>
    {{ post.rendered|safe }}
    {% if post.get_attachments %}
    <table>
      <tr><th>Attachment</th><th>Last Update</th><th>Size</th></tr>
    {% for att in post.get_attachments %}
      <tr><td><a href='{{att.file.url}}'>{{att.description}}</a></td><td>{{att.updated}}</td><td>{{att.size|filesizeformat}}</td></tr>
    {% endfor %}
    </table>
    {% endif %}
    <dl class='tags'>
        <dt>Section:</dt>
        <dd><a href='/section/{{post.section.url}}'>{{post.section.title}}</a></dd>
    </dl>
    <dl class='tags'>
        <dt>Tags:</dt>
        {% for tag in post.get_tags %}
        <dd><a href='/tag/{{tag.slug}}'>{{tag.text}}</a>{% if not forloop.last %},{% endif %}</dd>
        {% empty %}
        <dd>&nbsp;</dd>
        {% endfor %}
    </dl>
</article>
{% endblock %}